
           a:hover,
			#_desktop_wishtlist .wishtlist_top a:hover,
			#_desktop_compare .compare_top a:hover,
			#_mobile_wishtlist .wishtlist_top a:hover,
			#_mobile_compare .compare_top a:hover,
			.selector-block .localiz_block:hover button, 
			.selector-block .localiz_block:hover .current-block,
			.selector-block .localiz_block .dropdown-menu li:hover .dropdown-item,
			.selector-block .localiz_block .dropdown-menu li.current .dropdown-item,
			.selector-mobile button:hover,.selector-mobile .dropdown-menu li a:hover,
			.selector-mobile .dropdown-menu li.current a:hover,
			.user-info-block:hover button,.user-info-block .dropdown-menu li a:hover,
			#_desktop_megamenu .pos-menu-horizontal .menu-content .menu-item.active  > a,
			#_desktop_megamenu .pos-menu-horizontal .menu-content .menu-item.home  > a,
			#_desktop_megamenu .pos-menu-horizontal .menu-content .menu-item:hover  > a,
			#_desktop_megamenu .pos-menu-horizontal .menu-content .menu-dropdown .submenu-item > a:hover,
			#_desktop_megamenu .pos-menu-horizontal .menu-content .menu-dropdown .submenu-item .category-sub-menu a:hover,
			#_desktop_megamenu .pos-menu-horizontal .menu-content .menu-item .menu-dropdown.cat-drop-menu li a:hover,
			#_mobile_megamenu .pos-menu-horizontal .menu-item a:hover,
			#_mobile_megamenu  .pos-menu-horizontal .menu-item .icon-drop-mobile:hover i,
			#_desktop_vegamenu .pos-menu-vertical .menu-content .menu-item.active  > a,
			#_desktop_vegamenu .pos-menu-vertical .menu-content .menu-item:hover  > a,
			#_desktop_vegamenu .pos-menu-vertical .menu-content .menu-dropdown .submenu-item > a:hover,
			#_desktop_vegamenu .pos-menu-vertical .menu-content .menu-dropdown .submenu-item .category-sub-menu a:hover,
			#_desktop_vegamenu .pos-menu-vertical .menu-content .menu-item .menu-dropdown.cat-drop-menu li a:hover,
			#_mobile_vegamenu .pos-menu-vertical .menu-item a:hover,
			#_mobile_vegamenu  .pos-menu-vertical .menu-item .icon-drop-mobile:hover i,
			.js-product-miniature.style_product1 div.cart button.ajax_add_to_cart_button:hover,
			.js-product-miniature.style_product1 div.cart span.ajax_add_to_cart_button:hover,
			.search_top form button:hover, 
			.blockcart:hover .button_cart a.desktop,
			.blockcart .popup_cart .price_content .price_inline.cart-total .value,
			.product-price-and-shipping .price.price-sale,
			.static-info .info:before, 
			 .banner-box .txt_cms a:hover,
			 .custom_text span, .custom_text span a,
			.countdown .title_countdown strong,
			.comments_advices a:hover,
			.block-categories .category-sub-menu li[data-depth="0"] > a:hover,
			.block-categories .collapse-icons .add:hover, 
			.block-categories .collapse-icons .remove:hover,
			.block-categories .category-sub-menu .category-sub-link:hover,
			.breadcrumb_container .breadcrumb ol li:last-child a, .breadcrumb_container .breadcrumb ol li:last-child span,
			.breadcrumb_container .breadcrumb ol li a:hover,
			.slideshow_container .pos-slideshow .nivo-directionNav a:hover,
			.owl-nav > div:hover,
			.js-product-miniature .product_desc .product_name:hover,
			.product-line-info a.product_name:hover,
			.testimonials_container .item-testimonials .item .content_author .des_testimonial:before,
			.home_blog_post_area .blog_slider .item .blog_post .post_title a:hover,
			.home_blog_post_area .blog_slider .item .blog_post .read_more a:hover,
			.home_blog_post_area .blog_slider .item .blog_post .read_more a:after,
			.meta_author span,.meta_category a,
			.ft_newsletter form .btn,
			#footer a:hover,#footer .footer-container .footer_block .footer_list > li a:hover,			
			#search_filters_wrapper #search_filters .facet .facet-label:hover a,
			 #js-product-list-top ul.display li:hover, #js-product-list-top ul.display li.selected ,
			.js-product-miniature .product_desc .availability .availability-list span,
			#js-product-list .product_content.list .js-product-miniature .product_desc .add-to-links li a:hover,
			.product-line-grid-right .cart-line-product-actions .remove-from-cart:hover, .product-line-grid-right .product-price .remove-from-cart:hover,
			.social-sharing li a:hover,
			.tabs .nav-tabs .nav-item .nav-link:hover,.tabs .nav-tabs .nav-item .nav-link.active,
			.page-my-account #content .links a:hover i,
			.panel-product-line #wishlist_button:hover,
			.panel-product-line .compare-button:hover,.panel-product-line .compare-button.cmp_added{  
			color: #c29958; 
		}
		.social_follow li a:hover,
		.js-product-miniature.style_product_default div.cart button.ajax_add_to_cart_button:hover, 
		.js-product-miniature.style_product_default div.cart span.ajax_add_to_cart_button:hover, 
		.js-product-miniature.style_product_default  .add-to-links li a:hover,
		.js-product-miniature.style_product1 .add-to-links li a:hover,
		.js-product-miniature.style_product2 .add-to-links li.cart button.ajax_add_to_cart_button:hover,
		.js-product-miniature.style_product2 .add-to-links li.cart span.ajax_add_to_cart_button:hover,
		.js-product-miniature.style_product2 .add-to-links li a:hover,
		.js-product-miniature.style_product3 .add-to-links li.cart button.ajax_add_to_cart_button:hover,
		.js-product-miniature.style_product3 .add-to-links li.cart span.ajax_add_to_cart_button:hover,
		.js-product-miniature.style_product3 .add-to-links li a:hover,
		.blockcart .popup_cart ul li .img_content .product-quantity,
		.blockcart .button_cart a.desktop .item_count,.blockcart .button_cart a.mobile .item_count, 
		.blockcart .popup_cart .checkout a,
		.compare_top a #poscompare-nb,
		.wishtlist_top a .cart-wishlist-number, 
		#_desktop_megamenu .pos-menu-horizontal .menu-content .menu-item.active  > a:before,
		#_desktop_megamenu .pos-menu-horizontal .menu-content .menu-item.home  > a:before,
		#_desktop_megamenu .pos-menu-horizontal .menu-content .menu-item:hover  > a:before,
		#_desktop_vegamenu .pos-menu-vertical .title_vertical,
		#pos_search_top .form_search .search_submit,
		.static-bottom .static_content a,
		.desc_slideshow .readmore,
		.slideshow_container .pos-slideshow .nivo-controlNav a:hover,
		.slideshow_container .pos-slideshow .nivo-controlNav a.active,
		.pos_title h2:after,
		.product-price-and-shipping-top .discount-product,
		.owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span,	
		#search_filters .ui-widget-header,	
		#tags_block .tags_block li a:hover,
		.tabs .nav-tabs .nav-item .nav-link:hover:after,.tabs .nav-tabs .nav-item .nav-link.active:after,
		#js-product-list .product_content.list .js-product-miniature .product_desc div.cart button.ajax_add_to_cart_button:hover, 
		#js-product-list .product_content.list .js-product-miniature .product_desc div.cart span.ajax_add_to_cart_button:hover,
		.footer_bottom,
		.back-top a,
		.products-sort-order .select-list:hover,
		.pagination a:hover,.pagination .current a,.product-actions .add-to-cart, 
		.poscompare-product .desc-box div.cart button.ajax_add_to_cart_button:hover, 
		.poscompare-product .desc-box div.cart span.ajax_add_to_cart_button:hover,
		.btn-secondary:hover, .btn-tertiary:hover, .btn-primary:hover,
		.btn-secondary:focus, .btn-tertiary:focus, .btn-primary:focus,
		.btn-secondary:active, .btn-tertiary:active, .btn-primary:active,
		.btn-secondary:active:focus, .btn-tertiary:active:focus, .btn-primary:active:focus
		{ 
			background: #c29958;
		}
		.slideshow_container .pos-slideshow .nivo-controlNav a:hover,
		.slideshow_container .pos-slideshow .nivo-controlNav a.active,
		.social_follow li a:hover,
		.banner-box .txt_cms a:hover,
		#tags_block .tags_block li a:hover,#search_filters_wrapper #search_filters .facet .facet-label:hover .custom-checkbox input[type="checkbox"] + span ,
		.tab-category-container-slider ul.tab_cates li:hover,
		.tab-category-container-slider ul.tab_cates li.active, 
		.blockcart .popup_cart .checkout a:hover ,
		.owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span,
		.product-images .thumb-container.slick-current > div:before,.product-images .thumb-container:hover > div:before,
		#js-product-list .product_content.list .js-product-miniature .product_desc div.cart button.ajax_add_to_cart_button:hover, 
		#js-product-list .product_content.list .js-product-miniature .product_desc div.cart span.ajax_add_to_cart_button:hover{
			border-color: #c29958;
		}body{
            font-family: "Lato", sans-serif;
            font-size: 14px;
            color: #555555;
        }.pos_title h2{
            font-family: "Lato", sans-serif;
            font-size: 30px;
            color: #222222;
            text-transform: capitalize;
        }.pos_title_column h2{  
            font-size: 20px;
        }.js-product-miniature .product_desc .product_name{
            color: #222222;
            font-size: 16px;
            text-transform: capitalize;
        }.js-product-miniature .product_desc .product_name:hover{
            color: #c29958;
        }.product-price-and-shipping .price{
            color:#222222;
            font-size: 15px;
        }.h1.namne_details, .product_name_h1{
            color: #222222;
            font-size: 24px;
            text-transform: capitalize;
        }.product-prices .price, .product-prices .current-price span:first-child{
            color:#555555;
            font-size: 28px;
        }